.contain {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contain input{
    font-family: Quattrocento;
    font-size: 16px;
    text-align: right;
    color: black;
}

.contain img {
    width:193px;
    height: auto; 

}

.contain label{
    font-family: Quattrocento;
    font-size: 16px;
    text-align: right;
}